<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <div>
        <h1>Delete Page</h1>
        <h1>Are you sure to delete the recored id :{{data.id}} customer name:{{data.name}}</h1>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="delete">
        </form>
    </div>
    <div>
        <a href="{% url 'app1:list' %}"><button>list Page</button></a>
    </div>
</body>
</html>